In [2]:
import pandas as pd

dados = [1.80, 1.70, 1.50, 1.79]

df = pd.DataFrame(data=dados, columns=['altura'])

df

   altura
0     1.8
1     1.7